.div-certifications-card {
    background-color: #367f73;
    padding: 10px;
    min-width: 20vh;
    min-height: 30vh;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    transition: all 300ms;
}
.div-certifications-card:hover {
    opacity: 0.8;
    transform: scale(1.10);
}
.p-img-certifications{
    margin-top: 35px;
    padding-bottom: 0;
}

@media (max-width: 890px) {
    .div-certifications-card {
        margin-bottom: 34px;
    }
}