.div-about {
    background-color: #262334e3;
    /* min-height: 100vh; */
    padding-top: 75px;
}
.div-about h2 {
    margin: 0;
    color: #ffa633;
    font-weight: 300;
    font-size: 35px;
}
.div-about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div-about-content-text {
    width: 40%;
    color: #fff;
    text-align: left;
    font-weight: 300;
    font-size: 17px;
}
.div-about-content-text p {
    font-weight: 100;
    font-size: 20px;
}


@media (max-width: 680px) {
    .div-about-content-text {
        text-align: justify;
        width: 57%;
    }
    .div-about-content-text p{
        text-align: left;
    }
    
}