.div-certifications {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #262334e3;
}
.div-certifications h1 {
    margin-top: 70px;
    color: #ffa633;
    font-weight: 300;
    font-size: 35px;
}
.div-certifications-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.course-img-1 {
    width: 150px;
    height: auto;
}
.course-img-2 {
    width: 250px;
    height: auto;
}
.div-certifications-a {
    margin-top: 44px;
    font-size: 23px;
}
.certifications-a {
    text-decoration: none;
    color: #ffa633;
    transition: transform .2s;
}


@media (max-width: 890px) {
    .div-certifications-cards {
        display: flex;
        flex-direction: column;
        width: 67%;
        margin: auto;
    }
}
@media (max-width: 680px) {
    .course-img-1 {
        width: 80%;
    }
    .course-img-2 {
        width: 92%;
    }
    
}
