.div-certifications {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #262334e3;
}
.div-certifications h1 {
    margin-top: 70px;
    color: #ffa633;
    font-weight: 300;
    font-size: 35px;
}
.div-certifications-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.div-certifications-card {
    background-color: #367f73;
    padding: 10px;
    min-width: 20vh;
    min-height: 30vh;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    transition: all 300ms;
}
.div-certifications-card:hover {
    opacity: 0.8;
    transform: scale(1.10);
    
}
.p-img-certifications{
    margin-top: 35px;
    padding-bottom: 0;
}
.course-img-1 {
    width: 150px;
    height: auto;
}
.course-img-2 {
    width: 250px;
    height: auto;
}
.div-certifications-a {
    margin-top: 44px;
    font-size: 23px;
}
.certifications-a {
    text-decoration: none;
    color: #ffa633;
    transition: transform .2s;
}


@media (max-width: 890px) {
    .div-certifications-cards {
        display: flex;
        flex-direction: column;
        width: 67%;
        margin: auto;

    }
    .div-certifications-card {
        margin-bottom: 34px;
    }
    
}
@media (max-width: 680px) {
    .course-img-1 {
        width: 80%;
    }
    .course-img-2 {
        width: 92%;
    }
    
}
